
html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body{
    height: 100%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
}



.box {
    background-image: url("https://i.imgur.com/HbJfvDU.png");
    /* backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); */
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    z-index: -2;

}

.blur {
    background: #ffffff4d;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    height: auto;
    min-height: 100%;
    z-index: 0;
    /* visibility: hidden; */
    display: none;

}

.blur2 {
    /* background: #ffffff4d; */
    /* transition: backdrop-filter 0.2s;
    backdrop-filter: blur(5px)  opacity(0);
    -webkit-backdrop-filter: blur(5px)  opacity(0); */
    height: auto;
    min-height: 100%;
    z-index: 0;
    
    /* visibility: hidden; */
}





.circle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20em;
    height: 20em;
    border: 2px solid #FFBA00;
    background-color: #ffffff81;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50%;
    z-index: 0;


}

.circle img {
    max-width: 100% ;
    width: 100%;
}





.containerTop {
    display: inline-block
}


.container1 {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    text-align: center;
}

#aboutPhoto {
    max-width: 33%;
}

#aboutContent {
    max-width: 66%;
}

#aboutCont {
    display: none;
}

#techExpCont{
    display: none;
}

#techProdCont{
    display: none;

}
#techSysCont{
    display: none;
}

#analGraphCont{
    display: none;
}

#analProdCont{
    display: none;

}
#analSysCont{
    display: none;

}

.row {
    display: inline-flex;
    text-align: center;
    width: 100%;
    min-width: 100px;


}

#tbnail {
    min-width: 400px;
    max-width: 33%;
    text-align: center;
}


.total {
    max-width: 1920px;
}



.main_content_padding {
    padding-bottom: 2.5rem /*!main_margin*/;
    padding-left: 1rem /*!main_margin*/;
    padding-right: 1rem /*!main_margin*/;
    font-size: 1.4rem;
    /* font-weight: 400; */
    color: #003CFF;
    /* font-family: "europa", Icons;
    font-style: normal; */
    line-height: 1.5;
    width: 40%;
    min-width: 400px;
    padding-top: 10rem;
    z-index: 1;

}

.content_padding {
    padding-top: 2.5rem ;
    padding-bottom: 2.5rem ;
    padding-left: 1rem ;
    padding-right: 1rem ;
    font-size: 1.4rem;
    font-weight: 400;
    /* font-family: "europa", Icons;
    font-style: normal; */
    line-height: 1.5;
    
    
}



#hp {
    background-image: url(https://i.imgur.com/GBOOTTb.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#storycorps {
    background-image: url("room6.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#phipps {
    background-image: url("phipps.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ms1 {
    background-image: url("dataexplore");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ms2 {
    background-image: url("hybridcloud.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ms3 {
    background-image: url("customerreport.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#compass {
    background-image: url("comp.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#anotherone {
    background-image: url(https://i.imgur.com/GBOOTTb.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#humancomp {
    background-image: url("eye.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#robotcar {
    background-image: url("ccc.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}



.chat_wrapper2 {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    z-index: 2;
}

.chat_wrapper {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    /* background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px); */
    z-index: 2;
    color: #ffffff00;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    /* text-shadow: 1px 1px #8f8f8f00; */
    

}




.about1_content_padding {
    padding-top: 2.5rem ;
    padding-bottom: 2.5rem ;
    padding-left: 1rem ;
    padding-right: 1rem ;
    font-size: 1.4rem;
    font-weight: 400;
    color: #003CFF;
    /* font-family: "europa", Icons;
    font-style: normal; */
    line-height: 1.5;

    
    
}
.about1_chat_wrapper {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 90%;
    padding-bottom: 70%;
    background-image: url(https://i.imgur.com/ZikNxUf.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    

}


.about2_content_padding {
    padding-top: 2.5rem ;
    padding-bottom: 2.5rem ;
    padding-left: 1rem ;
    padding-right: 1rem ;
    font-size: 1.4rem;
    font-weight: 400;
    color: #003CFF;
    /* font-family: "europa", Icons;
    font-style: normal; */
    line-height: 1.5;
    
    
}
.about2_chat_wrapper {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 90%;
    padding-bottom: 70%;
    background: rgba(255, 255, 255, 0.137);
    /* backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px); */
    z-index: 2;


}

.chat2 {
    border: 2px solid #003cff00;
    border-radius: 25px;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: hidden;  */

}


.chat {
    border: 2px solid #003CFF;
    border-radius: 25px;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: hidden;  */

}



.chat .chat_interior {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: hidden; */
    
}

.chat .chat_output {
    flex-grow: 2;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden;  */
}

.chat .input_area {
    border-top: 2px solid #003CFF;
    flex-shrink: 0;
    line-height: 3.4rem;
    display: flex;
}

.chat .agent {
    text-align: left;
    margin-right: auto;
    max-width: 75%;
    padding: 0.8rem 1rem .75rem;
    border: 2px solid #003CFF;
    border-radius: 15px;
    display: inline-block;
    font-size: medium;
    background: rgba(255, 255, 255, 0.116);
    /* backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); */
    z-index: 3;
}


.chat .user {
    text-align: right;
    margin-left: auto;
    max-width: 75%;
    padding: .8rem 1rem .75rem;
    display: inline-block;
    border: 2px solid #003CFF;
    background: #003cffe5;
    border-radius: 15px;
    color: white;
    font-size: medium;
    z-index: 3;

}

.chat .user+.agent {
    margin-top: 1em;
}

.chat .agent+.user {
    margin-top: 1em;
}

.chat .agent+.agent {
    margin-top: .5em;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        background-color:  rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        background-color:  rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        background-color:  rgba(0, 0, 0, 0);
    }
}

.chat .agent.waiting div:nth-child(1) {
    /* color: black; */
    animation: pulse 1s linear .2s infinite;
}
.chat .agent.waiting div:nth-child(2) {
    /* color: black; */
    animation: pulse 1s linear .4s infinite;
}
.chat .agent.waiting div:nth-child(3) {
    /* color: black; */
    margin-right: 0;
    animation: pulse 1s linear .6s infinite;
}

.chat .agent.waiting div {
    background-color: #003CFF;
    display: inline-block;
    margin: 0 .3em 0.1em 0;
    width: .4em;
    height: .4em;
    border-radius: 100%;
}


.chat_input {
    display: block;
    font: inherit;
    height: 70px;
    width: 100%;
    border: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-top: 2px solid #003CFF;
    flex-shrink: 0;
    line-height: 2rem;
    text-align: center;




  
}       

.chat_input::-webkit-scrollbar {
    display: none;
  }

.chat .disabled {
    pointer-events: none;
    color: rgba(0,0,0, 0.4);
}


.chat_input .buttoninput {

    margin-top: .9em;
    margin-bottom: .1em;
    margin-left: .25em;
    margin-right: .25em;
    
    background: rgb(0, 60, 255);

    border: 0px;
    border-radius: 15px;
    color: white;
    font-size: medium;
    padding: 0.15rem 2.5rem 0.15rem;
    

}
